In [9]:
import pandas as pd
import numpy as np

In [11]:
df1=pd.read_csv(r"C:\Users\user\Downloads\safe water\who_unicef_jmp__urban_rural.csv")
df1

,Country,Region,IncomeGroup,AreaType,Year,ImprovedWaterAccess_%,ImprovedSanitationAccess_%,WaterFacilityType,SanitationFacilityType
0,Aruba,Europe & Central Asia,Lower middle income,Urban,2000,90.1,39.2,Public tap,Bucket latrine
1,Aruba,Europe & Central Asia,Lower middle income,Rural,2000,98.2,60.3,Public tap,Composting toilet
2,Aruba,Europe & Central Asia,Lower middle income,Urban,2001,67.5,72.4,Protected well,Pit latrine with slab
3,Aruba,Europe & Central Asia,Lower middle income,Rural,2001,72.2,38.6,Protected well,Pit latrine with slab
4,Aruba,Europe & Central Asia,Lower middle income,Urban,2002,75.4,87.1,Tanker truck,Unimproved
...,...,...,...,...,...,...,...,...,...
11179,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2021,86.6,58.6,Protected well,Pit latrine with slab
11180,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2022,77.3,92.2,Public tap,Unimproved
11181,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2022,82.5,47.5,Unimproved,VIP latrine
11182,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2023,100.0,82.9,Piped to premises,Flush toilet
11183,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2023,65.0,10.6,Unimproved,Composting toilet

In [13]:
df2=pd.read_csv(r"C:\Users\user\Downloads\safe water\worldbank_wdi_urban_rural.csv")
df2

,Country,Region,IncomeGroup,AreaType,Year,Under5Mortality_per1000,Population,GDP_per_capita_USD
0,Aruba,Europe & Central Asia,Lower middle income,Urban,2000,73.6,107924739,5557.04
1,Aruba,Europe & Central Asia,Lower middle income,Rural,2000,20.7,273736333,11291.68
2,Aruba,Europe & Central Asia,Lower middle income,Urban,2001,27.8,83017063,11661.33
3,Aruba,Europe & Central Asia,Lower middle income,Rural,2001,21.6,82985027,11279.83
4,Aruba,Europe & Central Asia,Lower middle income,Urban,2002,43.8,175954911,23956.90
...,...,...,...,...,...,...,...,...
11179,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2021,62.6,96380181,13824.97
11180,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2022,14.9,78386638,4403.06
11181,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2022,41.3,224141310,13304.33
11182,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2023,60.0,11914946,7370.74
11183,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2023,31.1,277866284,5517.05

In [15]:
# Assuming df1 and df2 are already defined

# Perform full outer merge on shared columns
merged_df = pd.merge(
    df1,
    df2,
    on=["Country", "Region", "IncomeGroup", "AreaType", "Year"],
    how="outer"  # keeps all rows from both df1 and df2
)

# Save the merged result
merged_df.to_csv("merged_full_dataset.csv", index=False)

# Optional: Display summary
print(" Merged dataset shape:", merged_df.shape)
print(" Columns:", list(merged_df.columns))
print("Preview:")
print(merged_df.head())

 Merged dataset shape: (11184, 12)
 Columns: ['Country', 'Region', 'IncomeGroup', 'AreaType', 'Year', 'ImprovedWaterAccess_%', 'ImprovedSanitationAccess_%', 'WaterFacilityType', 'SanitationFacilityType', 'Under5Mortality_per1000', 'Population', 'GDP_per_capita_USD']
Preview:
  Country                 Region          IncomeGroup AreaType  Year  \
0   Aruba  Europe & Central Asia  Lower middle income    Urban  2000
1   Aruba  Europe & Central Asia  Lower middle income    Rural  2000
2   Aruba  Europe & Central Asia  Lower middle income    Urban  2001
3   Aruba  Europe & Central Asia  Lower middle income    Rural  2001
4   Aruba  Europe & Central Asia  Lower middle income    Urban  2002

   ImprovedWaterAccess_%  ImprovedSanitationAccess_% WaterFacilityType  \
0                   90.1                        39.2        Public tap
1                   98.2                        60.3        Public tap
2                   67.5                        72.4    Protected well
3                   72.2                        38.6    Protected well
4                   75.4                        87.1      Tanker truck

  SanitationFacilityType  Under5Mortality_per1000  Population  \
0         Bucket latrine                     73.6   107924739
1      Composting toilet                     20.7   273736333
2  Pit latrine with slab                     27.8    83017063
3  Pit latrine with slab                     21.6    82985027
4             Unimproved                     43.8   175954911

   GDP_per_capita_USD
0             5557.04
1            11291.68
2            11661.33
3            11279.83
4            23956.90

In [19]:
df3=pd.read_csv(r"C:\Users\user\Downloads\safe water\merged_full_dataset.csv")
df3

,Country,Region,IncomeGroup,AreaType,Year,ImprovedWaterAccess_%,ImprovedSanitationAccess_%,WaterFacilityType,SanitationFacilityType,Under5Mortality_per1000,Population,GDP_per_capita_USD
0,Aruba,Europe & Central Asia,Lower middle income,Urban,2000,90.1,39.2,Public tap,Bucket latrine,73.6,107924739,5557.04
1,Aruba,Europe & Central Asia,Lower middle income,Rural,2000,98.2,60.3,Public tap,Composting toilet,20.7,273736333,11291.68
2,Aruba,Europe & Central Asia,Lower middle income,Urban,2001,67.5,72.4,Protected well,Pit latrine with slab,27.8,83017063,11661.33
3,Aruba,Europe & Central Asia,Lower middle income,Rural,2001,72.2,38.6,Protected well,Pit latrine with slab,21.6,82985027,11279.83
4,Aruba,Europe & Central Asia,Lower middle income,Urban,2002,75.4,87.1,Tanker truck,Unimproved,43.8,175954911,23956.90
...,...,...,...,...,...,...,...,...,...,...,...,...
11179,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2021,86.6,58.6,Protected well,Pit latrine with slab,62.6,96380181,13824.97
11180,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2022,77.3,92.2,Public tap,Unimproved,14.9,78386638,4403.06
11181,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2022,82.5,47.5,Unimproved,VIP latrine,41.3,224141310,13304.33
11182,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2023,100.0,82.9,Piped to premises,Flush toilet,60.0,11914946,7370.74
11183,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2023,65.0,10.6,Unimproved,Composting toilet,31.1,277866284,5517.05

In [21]:
df3.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
11179    False
11180    False
11181    False
11182    False
11183    False
Length: 11184, dtype: bool

In [23]:
df3.duplicated().sum()

0

In [25]:
df3.isna().sum()

Country                       0
Region                        0
IncomeGroup                   0
AreaType                      0
Year                          0
ImprovedWaterAccess_%         0
ImprovedSanitationAccess_%    0
WaterFacilityType             0
SanitationFacilityType        0
Under5Mortality_per1000       0
Population                    0
GDP_per_capita_USD            0
dtype: int64

In [27]:
df3.describe()

,Year,ImprovedWaterAccess_%,ImprovedSanitationAccess_%,Under5Mortality_per1000,Population,GDP_per_capita_USD
count,11184.000000,11184.000000,11184.000000,11184.000000,1.118400e+04,11184.000000
mean,2011.500000,74.706143,64.543544,35.496003,1.497030e+08,9369.837764
std,6.922496,14.250041,19.313842,18.827342,8.683766e+07,6296.031037
min,2000.000000,30.000000,10.000000,5.000000,1.025840e+05,300.000000
25%,2005.750000,65.000000,51.300000,21.100000,7.521876e+07,4435.240000
50%,2011.500000,74.900000,64.600000,35.100000,1.501360e+08,9025.715000
75%,2017.250000,85.000000,78.600000,48.700000,2.261703e+08,13630.055000
max,2023.000000,100.000000,100.000000,112.300000,2.999297e+08,37450.750000

In [41]:
df3.columns = df3.columns.str.lower()
df3

,country,region,incomegroup,areatype,year,improvedwateraccess_%,improvedsanitationaccess_%,waterfacilitytype,sanitationfacilitytype,under5mortality_per1000,population,gdp_per_capita_usd
0,Aruba,Europe & Central Asia,Lower middle income,Urban,2000,90.1,39.2,Public tap,Bucket latrine,73.6,107924739,5557.04
1,Aruba,Europe & Central Asia,Lower middle income,Rural,2000,98.2,60.3,Public tap,Composting toilet,20.7,273736333,11291.68
2,Aruba,Europe & Central Asia,Lower middle income,Urban,2001,67.5,72.4,Protected well,Pit latrine with slab,27.8,83017063,11661.33
3,Aruba,Europe & Central Asia,Lower middle income,Rural,2001,72.2,38.6,Protected well,Pit latrine with slab,21.6,82985027,11279.83
4,Aruba,Europe & Central Asia,Lower middle income,Urban,2002,75.4,87.1,Tanker truck,Unimproved,43.8,175954911,23956.90
...,...,...,...,...,...,...,...,...,...,...,...,...
11179,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2021,86.6,58.6,Protected well,Pit latrine with slab,62.6,96380181,13824.97
11180,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2022,77.3,92.2,Public tap,Unimproved,14.9,78386638,4403.06
11181,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2022,82.5,47.5,Unimproved,VIP latrine,41.3,224141310,13304.33
11182,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Urban,2023,100.0,82.9,Piped to premises,Flush toilet,60.0,11914946,7370.74
11183,United States Minor Outlying Islands,Sub-Saharan Africa,Low income,Rural,2023,65.0,10.6,Unimproved,Composting toilet,31.1,277866284,5517.05

In [57]:
df3.tail

<bound method NDFrame.tail of                                     country                 region  \
0                                     Aruba  Europe & Central Asia
1                                     Aruba  Europe & Central Asia
2                                     Aruba  Europe & Central Asia
3                                     Aruba  Europe & Central Asia
4                                     Aruba  Europe & Central Asia
...                                     ...                    ...
11179  United States Minor Outlying Islands     Sub-Saharan Africa
11180  United States Minor Outlying Islands     Sub-Saharan Africa
11181  United States Minor Outlying Islands     Sub-Saharan Africa
11182  United States Minor Outlying Islands     Sub-Saharan Africa
11183  United States Minor Outlying Islands     Sub-Saharan Africa

               incomegroup areatype  year  improvedwateraccess_percent  \
0      Lower middle income    Urban  2000                         90.1
1      Lower middle income    Rural  2000                         98.2
2      Lower middle income    Urban  2001                         67.5
3      Lower middle income    Rural  2001                         72.2
4      Lower middle income    Urban  2002                         75.4
...                    ...      ...   ...                          ...
11179           Low income    Rural  2021                         86.6
11180           Low income    Urban  2022                         77.3
11181           Low income    Rural  2022                         82.5
11182           Low income    Urban  2023                        100.0
11183           Low income    Rural  2023                         65.0

       improvedsanitationaccess_percent  waterfacilitytype  \
0                                  39.2         Public tap
1                                  60.3         Public tap
2                                  72.4     Protected well
3                                  38.6     Protected well
4                                  87.1       Tanker truck
...                                 ...                ...
11179                              58.6     Protected well
11180                              92.2         Public tap
11181                              47.5         Unimproved
11182                              82.9  Piped to premises
11183                              10.6         Unimproved

      sanitationfacilitytype  under_5_mortality_per_1000  population  \
0             Bucket latrine                        73.6   107924739
1          Composting toilet                        20.7   273736333
2      Pit latrine with slab                        27.8    83017063
3      Pit latrine with slab                        21.6    82985027
4                 Unimproved                        43.8   175954911
...                      ...                         ...         ...
11179  Pit latrine with slab                        62.6    96380181
11180             Unimproved                        14.9    78386638
11181            VIP latrine                        41.3   224141310
11182           Flush toilet                        60.0    11914946
11183      Composting toilet                        31.1   277866284

       gdp_per_capita_usd
0                 5557.04
1                11291.68
2                11661.33
3                11279.83
4                23956.90
...                   ...
11179            13824.97
11180             4403.06
11181            13304.33
11182             7370.74
11183             5517.05

[11184 rows x 12 columns]>