## Imports the necessary Python libraries:
- `pandas` (as `pd`) for data manipulation and analysis.
- `numpy` (as `np`) for numerical operations.

In [74]:
#iimport libraries
import pandas as pd 
import numpy as np

Loads the WASH (Water, Sanitation) access dataset from a CSV file named `wash_access.csv` into a DataFrame called `wash_df`. Then it displays the DataFrame to preview the data.

In [75]:
wash_df = pd.read_csv('wash_access.csv')
wash_df

,iso3,country,year,residence,wat_sm,wat_bas,improved_water_access,san_sm,san_bas,improved_sanitation_access
0,AFG,Afghanistan,2000,Urban,18.8,50.1,68.9,25.4,39.9,65.3
1,AFG,Afghanistan,2000,Rural,5.6,14.0,19.6,7.3,13.7,21.0
2,AFG,Afghanistan,2001,Urban,18.9,51.5,70.4,26.0,40.9,66.9
3,AFG,Afghanistan,2001,Rural,6.0,15.6,21.6,7.9,14.8,22.7
4,AFG,Afghanistan,2002,Urban,19.0,52.8,71.8,26.6,41.9,68.5
...,...,...,...,...,...,...,...,...,...,...
1513,ZWE,Zimbabwe,2020,Rural,15.4,46.5,61.9,25.0,11.5,36.5
1514,ZWE,Zimbabwe,2021,Urban,60.4,36.1,96.5,41.1,11.4,52.5
1515,ZWE,Zimbabwe,2021,Rural,15.4,45.6,61.0,25.1,11.5,36.6
1516,ZWE,Zimbabwe,2022,Urban,59.3,38.5,97.8,41.3,11.4,52.7
1517,ZWE,Zimbabwe,2022,Rural,15.3,44.5,59.8,25.2,11.6,36.7

Loads the child mortality dataset from a CSV file named `child.csv` into a DataFrame called `child_df`. It also displays the contents of `child_df` to understand its structure.

In [76]:
child_df = pd.read_csv('child.csv')
child_df

,iso3,country,year,region,income_group,under_5_mortality,population_total,population_rural_pct,population_urban_pct,gdp_per_capita_ppp
0,AFG,Afghanistan,2000,South Asia,Low income,137.6,20779953,75.492,24.508,NaN
1,AFG,Afghanistan,2001,South Asia,Low income,133.6,21606988,75.251,24.749,NaN
2,AFG,Afghanistan,2002,South Asia,Low income,129.4,22600770,75.007,24.993,1189.784668
3,AFG,Afghanistan,2003,South Asia,Low income,125.1,23680871,74.760,25.240,1235.810063
4,AFG,Afghanistan,2004,South Asia,Low income,120.7,24726684,74.510,25.490,1226.252934
...,...,...,...,...,...,...,...,...,...,...
2479,ZWE,Zimbabwe,2018,Sub-Saharan Africa,Low income,60.0,14438802,61.335,38.665,2744.103027
2480,ZWE,Zimbabwe,2019,Sub-Saharan Africa,Low income,58.5,14645468,61.008,38.992,2510.239990
2481,ZWE,Zimbabwe,2020,Sub-Saharan Africa,Low income,57.1,14862924,60.680,39.320,2435.539795
2482,ZWE,Zimbabwe,2021,Sub-Saharan Africa,Low income,55.8,15092171,60.352,39.648,2611.378906
2483,ZWE,Zimbabwe,2022,Sub-Saharan Africa,Low income,NaN,15333516,60.023,39.977,2679.539795

## Selects only the important columns from the `wash_df` DataFrame to focus the analysis on relevant information. The selected columns are:

- `iso3`: Country code  
- `country`: Country name  
- `year`: Year of data  
- `residence`: Urban or rural  
- `improved_water_access`: Percentage of population with access to improved water  
- `improved_sanitation_access`: Percentage of population with access to improved sanitation

In [ ]:
wash_df = wash_df[['iso3', 'country', 'year', 'residence',
                 'improved_water_access', 'improved_sanitation_access']]
wash_df

## Selects only the important columns from the child_df DataFrame to keep the data relevant for analysis. The selected columns are:

iso3: Country code

country: Country name

year: Year of data

under_5_mortality: Under-five mortality rate

income_group: Country income classification

region: Geographic region

population_total: Total population

gdp_per_capita_ppp: GDP per capita (PPP)

population_rural_pct: Percentage of rural population

population_urban_pct: Percentage of urban population

In [78]:
child_df = child_df[['iso3', 'country', 'year', 'under_5_mortality',
                 'income_group', 'region', 'population_total',
                 'gdp_per_capita_ppp', 'population_rural_pct', 'population_urban_pct']]
child_df

,iso3,country,year,under_5_mortality,income_group,region,population_total,gdp_per_capita_ppp,population_rural_pct,population_urban_pct
0,AFG,Afghanistan,2000,137.6,Low income,South Asia,20779953,NaN,75.492,24.508
1,AFG,Afghanistan,2001,133.6,Low income,South Asia,21606988,NaN,75.251,24.749
2,AFG,Afghanistan,2002,129.4,Low income,South Asia,22600770,1189.784668,75.007,24.993
3,AFG,Afghanistan,2003,125.1,Low income,South Asia,23680871,1235.810063,74.760,25.240
4,AFG,Afghanistan,2004,120.7,Low income,South Asia,24726684,1226.252934,74.510,25.490
...,...,...,...,...,...,...,...,...,...,...
2479,ZWE,Zimbabwe,2018,60.0,Low income,Sub-Saharan Africa,14438802,2744.103027,61.335,38.665
2480,ZWE,Zimbabwe,2019,58.5,Low income,Sub-Saharan Africa,14645468,2510.239990,61.008,38.992
2481,ZWE,Zimbabwe,2020,57.1,Low income,Sub-Saharan Africa,14862924,2435.539795,60.680,39.320
2482,ZWE,Zimbabwe,2021,55.8,Low income,Sub-Saharan Africa,15092171,2611.378906,60.352,39.648
2483,ZWE,Zimbabwe,2022,NaN,Low income,Sub-Saharan Africa,15333516,2679.539795,60.023,39.977

Checks if there are any rows in both wash_df and child_df where the 'year' column has the incorrect value 'year' (as a string). This helps identify and later remove possible formatting errors in the dataset.

In [79]:
print(wash_df[wash_df['year'] == 'year'])
print(child_df[child_df['year'] == 'year'])

Empty DataFrame
Columns: [iso3, country, year, residence, improved_water_access, improved_sanitation_access]
Index: []
Empty DataFrame
Columns: [iso3, country, year, under_5_mortality, income_group, region, population_total, gdp_per_capita_ppp, population_rural_pct, population_urban_pct]
Index: []

-Filters out rows where the year column has the string 'year', removing invalid or header rows. Then shows the updated DataFrame.

In [80]:
child_df = child_df[child_df['year'] != 'year']
child_df

,iso3,country,year,under_5_mortality,income_group,region,population_total,gdp_per_capita_ppp,population_rural_pct,population_urban_pct
0,AFG,Afghanistan,2000,137.6,Low income,South Asia,20779953,NaN,75.492,24.508
1,AFG,Afghanistan,2001,133.6,Low income,South Asia,21606988,NaN,75.251,24.749
2,AFG,Afghanistan,2002,129.4,Low income,South Asia,22600770,1189.784668,75.007,24.993
3,AFG,Afghanistan,2003,125.1,Low income,South Asia,23680871,1235.810063,74.760,25.240
4,AFG,Afghanistan,2004,120.7,Low income,South Asia,24726684,1226.252934,74.510,25.490
...,...,...,...,...,...,...,...,...,...,...
2479,ZWE,Zimbabwe,2018,60.0,Low income,Sub-Saharan Africa,14438802,2744.103027,61.335,38.665
2480,ZWE,Zimbabwe,2019,58.5,Low income,Sub-Saharan Africa,14645468,2510.239990,61.008,38.992
2481,ZWE,Zimbabwe,2020,57.1,Low income,Sub-Saharan Africa,14862924,2435.539795,60.680,39.320
2482,ZWE,Zimbabwe,2021,55.8,Low income,Sub-Saharan Africa,15092171,2611.378906,60.352,39.648
2483,ZWE,Zimbabwe,2022,NaN,Low income,Sub-Saharan Africa,15333516,2679.539795,60.023,39.977

In [81]:
print(child_df[child_df['year'] == 'year'])

Empty DataFrame
Columns: [iso3, country, year, under_5_mortality, income_group, region, population_total, gdp_per_capita_ppp, population_rural_pct, population_urban_pct]
Index: []

In [82]:
wash_df['year'] = wash_df['year'].astype(int)
child_df['year'] = child_df['year'].astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_24760\221279606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wash_df['year'] = wash_df['year'].astype(int)

In [83]:
merged_df = pd.merge(wash_df, child_df,
                     on=['iso3', 'country', 'year'],
                     how='left')
print(merged_df.head())

  iso3      country  year residence  improved_water_access  \
0  AFG  Afghanistan  2000     Urban                   68.9
1  AFG  Afghanistan  2000     Rural                   19.6
2  AFG  Afghanistan  2001     Urban                   70.4
3  AFG  Afghanistan  2001     Rural                   21.6
4  AFG  Afghanistan  2002     Urban                   71.8

   improved_sanitation_access  under_5_mortality income_group      region  \
0                        65.3              137.6   Low income  South Asia
1                        21.0              137.6   Low income  South Asia
2                        66.9              133.6   Low income  South Asia
3                        22.7              133.6   Low income  South Asia
4                        68.5              129.4   Low income  South Asia

   population_total  gdp_per_capita_ppp  population_rural_pct  \
0        20779953.0                 NaN                75.492
1        20779953.0                 NaN                75.492
2        21606988.0                 NaN                75.251
3        21606988.0                 NaN                75.251
4        22600770.0         1189.784668                75.007

   population_urban_pct
0                24.508
1                24.508
2                24.749
3                24.749
4                24.993

In [84]:
merged_df.shape

(1518, 13)

In [85]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518 entries, 0 to 1517
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   iso3                        1518 non-null   object
 1   country                     1518 non-null   object
 2   year                        1518 non-null   int32
 3   residence                   1518 non-null   object
 4   improved_water_access       1518 non-null   float64
 5   improved_sanitation_access  1518 non-null   float64
 6   under_5_mortality           880 non-null    float64
 7   income_group                920 non-null    object
 8   region                      920 non-null    object
 9   population_total            920 non-null    float64
 10  gdp_per_capita_ppp          800 non-null    float64
 11  population_rural_pct        920 non-null    float64
 12  population_urban_pct        920 non-null    float64
dtypes: float64(7), int32(1), object(5)
memory usage: 148.4+ KB

In [86]:
merged_df.columns

Index(['iso3', 'country', 'year', 'residence', 'improved_water_access',
       'improved_sanitation_access', 'under_5_mortality', 'income_group',
       'region', 'population_total', 'gdp_per_capita_ppp',
       'population_rural_pct', 'population_urban_pct'],
      dtype='object')

In [87]:
merged_df.columns = ['iso3', 'county', 'year', 'residence', 'improved_wat_%', 'improved_san_%', 'under_5_mortality_rates', 'income_group', 'region', 'total_population', 'gdp_per_capita_$', 'population_rural_%', 'population_urban_%']

In [88]:
merged_df.head(10)

,iso3,county,year,residence,improved_wat_%,improved_san_%,under_5_mortality_rates,income_group,region,total_population,gdp_per_capita_$,population_rural_%,population_urban_%
0,AFG,Afghanistan,2000,Urban,68.9,65.3,137.6,Low income,South Asia,20779953.0,NaN,75.492,24.508
1,AFG,Afghanistan,2000,Rural,19.6,21.0,137.6,Low income,South Asia,20779953.0,NaN,75.492,24.508
2,AFG,Afghanistan,2001,Urban,70.4,66.9,133.6,Low income,South Asia,21606988.0,NaN,75.251,24.749
3,AFG,Afghanistan,2001,Rural,21.6,22.7,133.6,Low income,South Asia,21606988.0,NaN,75.251,24.749
4,AFG,Afghanistan,2002,Urban,71.8,68.5,129.4,Low income,South Asia,22600770.0,1189.784668,75.007,24.993
5,AFG,Afghanistan,2002,Rural,23.6,24.2,129.4,Low income,South Asia,22600770.0,1189.784668,75.007,24.993
6,AFG,Afghanistan,2003,Urban,73.2,70.0,125.1,Low income,South Asia,23680871.0,1235.810063,74.760,25.240
7,AFG,Afghanistan,2003,Rural,25.7,25.8,125.1,Low income,South Asia,23680871.0,1235.810063,74.760,25.240
8,AFG,Afghanistan,2004,Urban,74.6,71.5,120.7,Low income,South Asia,24726684.0,1226.252934,74.510,25.490
9,AFG,Afghanistan,2004,Rural,27.8,27.3,120.7,Low income,South Asia,24726684.0,1226.252934,74.510,25.490

In [89]:
merged_df.columns

Index(['iso3', 'county', 'year', 'residence', 'improved_wat_%',
       'improved_san_%', 'under_5_mortality_rates', 'income_group', 'region',
       'total_population', 'gdp_per_capita_$', 'population_rural_%',
       'population_urban_%'],
      dtype='object')

In [90]:
merged_df.isnull().sum()

iso3                         0
county                       0
year                         0
residence                    0
improved_wat_%               0
improved_san_%               0
under_5_mortality_rates    638
income_group               598
region                     598
total_population           598
gdp_per_capita_$           718
population_rural_%         598
population_urban_%         598
dtype: int64

In [91]:
merged_df['under_5_mortality_rates'] = merged_df['under_5_mortality_rates'].fillna('Unkown')
merged_df['income_group'] = merged_df['income_group'].fillna('Unkown')
merged_df['region'] = merged_df['region'].fillna('Unkown')
merged_df['total_population'] = merged_df['total_population'].fillna('Unkown')
merged_df['gdp_per_capita_$'] = merged_df['gdp_per_capita_$'].fillna('Unkown')
merged_df['population_rural_%'] = merged_df['population_rural_%'].fillna('Unkown')
merged_df['population_urban_%'] = merged_df['population_urban_%'].fillna('Unkown')

In [92]:
merged_df.isnull().sum()

iso3                       0
county                     0
year                       0
residence                  0
improved_wat_%             0
improved_san_%             0
under_5_mortality_rates    0
income_group               0
region                     0
total_population           0
gdp_per_capita_$           0
population_rural_%         0
population_urban_%         0
dtype: int64

In [93]:
merged_df.duplicated().sum()

0

In [94]:
merged_df.shape

(1518, 13)

In [95]:
merged_df.dtypes == object

iso3                        True
county                      True
year                       False
residence                   True
improved_wat_%             False
improved_san_%             False
under_5_mortality_rates     True
income_group                True
region                      True
total_population            True
gdp_per_capita_$            True
population_rural_%          True
population_urban_%          True
dtype: bool

In [96]:
merged_df.to_csv('wash_mortality.csv', index=False)
merged_df

,iso3,county,year,residence,improved_wat_%,improved_san_%,under_5_mortality_rates,income_group,region,total_population,gdp_per_capita_$,population_rural_%,population_urban_%
0,AFG,Afghanistan,2000,Urban,68.9,65.3,137.6,Low income,South Asia,20779953.0,Unkown,75.492,24.508
1,AFG,Afghanistan,2000,Rural,19.6,21.0,137.6,Low income,South Asia,20779953.0,Unkown,75.492,24.508
2,AFG,Afghanistan,2001,Urban,70.4,66.9,133.6,Low income,South Asia,21606988.0,Unkown,75.251,24.749
3,AFG,Afghanistan,2001,Rural,21.6,22.7,133.6,Low income,South Asia,21606988.0,Unkown,75.251,24.749
4,AFG,Afghanistan,2002,Urban,71.8,68.5,129.4,Low income,South Asia,22600770.0,1189.784668,75.007,24.993
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,ZWE,Zimbabwe,2020,Rural,61.9,36.5,57.1,Low income,Sub-Saharan Africa,14862924.0,2435.539795,60.68,39.32
1514,ZWE,Zimbabwe,2021,Urban,96.5,52.5,55.8,Low income,Sub-Saharan Africa,15092171.0,2611.378906,60.352,39.648
1515,ZWE,Zimbabwe,2021,Rural,61.0,36.6,55.8,Low income,Sub-Saharan Africa,15092171.0,2611.378906,60.352,39.648
1516,ZWE,Zimbabwe,2022,Urban,97.8,52.7,Unkown,Low income,Sub-Saharan Africa,15333516.0,2679.539795,60.023,39.977
1517,ZWE,Zimbabwe,2022,Rural,59.8,36.7,Unkown,Low income,Sub-Saharan Africa,15333516.0,2679.539795,60.023,39.977

In [97]:
print(merged_df['income_group'].unique())

['Low income' 'Unkown' 'Lower-middle income' 'Upper-middle income'
 'High income']

In [98]:
filtered_df = merged_df[merged_df['income_group'].isin(['Low income', 'Lower-middle income'])]
filtered_df

,iso3,county,year,residence,improved_wat_%,improved_san_%,under_5_mortality_rates,income_group,region,total_population,gdp_per_capita_$,population_rural_%,population_urban_%
0,AFG,Afghanistan,2000,Urban,68.9,65.3,137.6,Low income,South Asia,20779953.0,Unkown,75.492,24.508
1,AFG,Afghanistan,2000,Rural,19.6,21.0,137.6,Low income,South Asia,20779953.0,Unkown,75.492,24.508
2,AFG,Afghanistan,2001,Urban,70.4,66.9,133.6,Low income,South Asia,21606988.0,Unkown,75.251,24.749
3,AFG,Afghanistan,2001,Rural,21.6,22.7,133.6,Low income,South Asia,21606988.0,Unkown,75.251,24.749
4,AFG,Afghanistan,2002,Urban,71.8,68.5,129.4,Low income,South Asia,22600770.0,1189.784668,75.007,24.993
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,ZWE,Zimbabwe,2020,Rural,61.9,36.5,57.1,Low income,Sub-Saharan Africa,14862924.0,2435.539795,60.68,39.32
1514,ZWE,Zimbabwe,2021,Urban,96.5,52.5,55.8,Low income,Sub-Saharan Africa,15092171.0,2611.378906,60.352,39.648
1515,ZWE,Zimbabwe,2021,Rural,61.0,36.6,55.8,Low income,Sub-Saharan Africa,15092171.0,2611.378906,60.352,39.648
1516,ZWE,Zimbabwe,2022,Urban,97.8,52.7,Unkown,Low income,Sub-Saharan Africa,15333516.0,2679.539795,60.023,39.977
1517,ZWE,Zimbabwe,2022,Rural,59.8,36.7,Unkown,Low income,Sub-Saharan Africa,15333516.0,2679.539795,60.023,39.977

In [99]:
filtered_df.isnull().sum()

iso3                       0
county                     0
year                       0
residence                  0
improved_wat_%             0
improved_san_%             0
under_5_mortality_rates    0
income_group               0
region                     0
total_population           0
gdp_per_capita_$           0
population_rural_%         0
population_urban_%         0
dtype: int64

In [100]:
filtered_df['under_5_mortality_rates'] = filtered_df['under_5_mortality_rates'].fillna('Unkown')

C:\Users\user\AppData\Local\Temp\ipykernel_24760\1338660193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['under_5_mortality_rates'] = filtered_df['under_5_mortality_rates'].fillna('Unkown')

In [101]:
filtered_df.isnull().sum()

iso3                       0
county                     0
year                       0
residence                  0
improved_wat_%             0
improved_san_%             0
under_5_mortality_rates    0
income_group               0
region                     0
total_population           0
gdp_per_capita_$           0
population_rural_%         0
population_urban_%         0
dtype: int64

In [102]:
filtered_df.duplicated().sum()

0

In [103]:
filtered_df.to_csv("filtered_income_countries.csv", index=False)
filtered_df

,iso3,county,year,residence,improved_wat_%,improved_san_%,under_5_mortality_rates,income_group,region,total_population,gdp_per_capita_$,population_rural_%,population_urban_%
0,AFG,Afghanistan,2000,Urban,68.9,65.3,137.6,Low income,South Asia,20779953.0,Unkown,75.492,24.508
1,AFG,Afghanistan,2000,Rural,19.6,21.0,137.6,Low income,South Asia,20779953.0,Unkown,75.492,24.508
2,AFG,Afghanistan,2001,Urban,70.4,66.9,133.6,Low income,South Asia,21606988.0,Unkown,75.251,24.749
3,AFG,Afghanistan,2001,Rural,21.6,22.7,133.6,Low income,South Asia,21606988.0,Unkown,75.251,24.749
4,AFG,Afghanistan,2002,Urban,71.8,68.5,129.4,Low income,South Asia,22600770.0,1189.784668,75.007,24.993
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,ZWE,Zimbabwe,2020,Rural,61.9,36.5,57.1,Low income,Sub-Saharan Africa,14862924.0,2435.539795,60.68,39.32
1514,ZWE,Zimbabwe,2021,Urban,96.5,52.5,55.8,Low income,Sub-Saharan Africa,15092171.0,2611.378906,60.352,39.648
1515,ZWE,Zimbabwe,2021,Rural,61.0,36.6,55.8,Low income,Sub-Saharan Africa,15092171.0,2611.378906,60.352,39.648
1516,ZWE,Zimbabwe,2022,Urban,97.8,52.7,Unkown,Low income,Sub-Saharan Africa,15333516.0,2679.539795,60.023,39.977
1517,ZWE,Zimbabwe,2022,Rural,59.8,36.7,Unkown,Low income,Sub-Saharan Africa,15333516.0,2679.539795,60.023,39.977

In [104]:

import pandas as pd

# 1. Read the CSV file
df = pd.read_csv(r"C:\Users\user\Downloads\filtered_income_countries.csv")


# 2. Replace all variants of 'unknown', 'Unkown', 'UNKNOWN', etc. with 0
# (?i) makes it case-insensitive, and the pattern matches variations like 'Unkown' (missing 'n')
df_cleaned = df.replace(r'(?i)^\s*unkn?own\s*$', 0, regex=True)

# 3. Save the cleaned data to a new CSV file
df_cleaned.to_csv('final_cleaned_income_countries.csv', index=False)

# 4. Check if any 'unknown' values still exist
if df_cleaned.isin(['unknown', 'Unkown', 'UNKNOWN']).any().any():
    print("There are still 'unknown' values remaining.")
else:
    print("DONE: All 'unknown' values were successfully replaced with 0.")

# 5. Optional: Print the first few rows of the cleaned data
print(df_cleaned)

DONE: All 'unknown' values were successfully replaced with 0.
    iso3       county  year residence  improved_wat_%  improved_san_%  \
0    AFG  Afghanistan  2000     Urban            68.9            65.3
1    AFG  Afghanistan  2000     Rural            19.6            21.0
2    AFG  Afghanistan  2001     Urban            70.4            66.9
3    AFG  Afghanistan  2001     Rural            21.6            22.7
4    AFG  Afghanistan  2002     Urban            71.8            68.5
..   ...          ...   ...       ...             ...             ...
731  ZWE     Zimbabwe  2020     Rural            61.9            36.5
732  ZWE     Zimbabwe  2021     Urban            96.5            52.5
733  ZWE     Zimbabwe  2021     Rural            61.0            36.6
734  ZWE     Zimbabwe  2022     Urban            97.8            52.7
735  ZWE     Zimbabwe  2022     Rural            59.8            36.7

    under_5_mortality_rates income_group              region  \
0                     137.6   Low income          South Asia
1                     137.6   Low income          South Asia
2                     133.6   Low income          South Asia
3                     133.6   Low income          South Asia
4                     129.4   Low income          South Asia
..                      ...          ...                 ...
731                    57.1   Low income  Sub-Saharan Africa
732                    55.8   Low income  Sub-Saharan Africa
733                    55.8   Low income  Sub-Saharan Africa
734                       0   Low income  Sub-Saharan Africa
735                       0   Low income  Sub-Saharan Africa

     total_population gdp_per_capita_$  population_rural_%  population_urban_%
0          20779953.0                0              75.492              24.508
1          20779953.0                0              75.492              24.508
2          21606988.0                0              75.251              24.749
3          21606988.0                0              75.251              24.749
4          22600770.0      1189.784668              75.007              24.993
..                ...              ...                 ...                 ...
731        14862924.0      2435.539795              60.680              39.320
732        15092171.0      2611.378906              60.352              39.648
733        15092171.0      2611.378906              60.352              39.648
734        15333516.0      2679.539795              60.023              39.977
735        15333516.0      2679.539795              60.023              39.977

[736 rows x 13 columns]